main {
    .hero {
        width: 100%;
        height: 80vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("../img/hero-vapod.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        h1 {
            color: white;
            font-size: 150px;
            text-align: center;
            font-family: "there brat";
            height: 70px;
            margin: 70px;
            


        }

        p {
            color: white;
            font-size: 60px;
            text-align: center;
            font-family: "coolvetica";
            height: 20px;
            padding: 25px;


        }
    }

    .nosotros {
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 40px;

        div {
            width: 500px;
            text-align: start;
            margin: 20px 20px;

            h2 {}

            p {}
        }

        img {
            width: 400px;
            height: 250px;
            border-radius: 15px;


        }
    }

    .bienvenidos {
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: justify;
        flex-direction: row-reverse;
        padding: 40px;

        div {
            width: 500px;
            text-align: start;
            margin: 20px 20px;

            h2 {}

            p {}

        }

        img {
            width: 250px;
            height: 250px;
            border-radius: 15px;

        }

    }

    .galeria {
        background-color: white;
        padding: 50px;

        h2 {}

        div {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            img {
                width: 200px;
                height: 200px;
                margin: 5px;
                transition: all 0.3s;
                display: grid;
                justify-self: center;
                align-self: center;

                &:hover {
                    transform: scale(1.3);
                }

            }
        }
    }

    .contactos {
        h2 {}

        p {
        }

        p {}

    }

    .formulario1 {
        width: auto;
        height: auto;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 13px;

        .form {
            h2 {}

            div {
                input {}

                label {}
            }

            h3 {}

            .mapa {
                width: 600px;
                height: 450px;

                iframe {
                    width: 80%;
                    height: 60%;

                }
            }

        }
    }
}

    .bateriasgaleria {
        @extend %div-galeria;

        h1 {}

        p {}

        h2 {}

        .seccion-1 {
            @extend %secciones;

            div {
                @extend %div-secciones;

                &:hover {
                    transform: scale(1.1);
                }

                a {
                    @extend %link-secciones;

                    img {
                        @extend %img-secciones
                    }
                }
            }
        }
    }

    .liquidosgaleria{
        @extend %div-galeria;

        h1 {}

        p {}

        h2 {}

        .seccion-1 {
            @extend %secciones;

            div {
                @extend %div-secciones;

                &:hover {
                    transform: scale(1.1);
                }

                a {
                    @extend %link-secciones;

                    img {
                        @extend %img-secciones
                    }
                }
            }
        }
    }

    .equiposgaleria{
        @extend %div-galeria;

        h1 {}

        p {}

        h2 {}

        .seccion-1 {
            @extend %secciones;

            div {
                @extend %div-secciones;

                &:hover {
                    transform: scale(1.1);
                }

                a {
                    @extend %link-secciones;

                    img {
                        @extend %img-secciones
                    }
                }
            }
        }
    }

    .resistenciasgaleria{
        @extend %div-galeria;

        h1 {}

        p {}

        h2 {}

        .seccion-1 {
            @extend %secciones;

            div {
                @extend %div-secciones;

                &:hover {
                    transform: scale(1.1);
                }

                a {
                    @extend %link-secciones;

                    img {
                        @extend %img-secciones
                    }
                }
            }
        }
    }
