@media screen and (max-width:800px) {
    body header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1px;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:800px) {
    header nav {
        width: auto;
        height: auto;

    }
}

@media screen and (max-width:700px) {
    header nav ul {
        list-style: none;
        display: flex;
        margin: 5px;
        padding: 1px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width:850px) {
    main .hero h1 {
        font-size: 100px;
    }
}

@media screen and (max-width:680px) {
    main .hero h1 {
        font-size: 70px;
    }
}

@media screen and (max-width:850px) {
    main .hero p {
        font-size: 40px;
    }
}

@media screen and (max-width:680px) {
    main .hero p {
        font-size: 30px;
    }
}

@media screen and (max-width:770px) {
    main .nosotros {
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: 40px;
        align-content: stretch;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:770px) {
    main .nosotros img {
        width: 250px;
        height: 150px;
    }
}

@media screen and (max-width:770px) {
    main .bienvenidos {
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: 40px;
        align-content: stretch;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:770px) {
    main .bienvenidos div img {
        width: 200px;
        height: 125px;
    }
}

@media screen and (max-width:900px) {
    main .galeria .contacto .formulario1 form .mapa {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:880px) {
    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1px;
        flex-direction: row;
        flex-wrap: wrap;

    }
}

@media screen and (max-width:650px) {
    footer ul {
        display: flex;
        margin: 5px;
        padding: 1px;
        flex-wrap: wrap;
        justify-content: space-around;

    }
}

@media screen and (max-width: 960px) {
    main .seccion-1 {
        display: grid;
        grid-template-columns: repeat(2, 475px);
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 720px) {
    main .seccion-1 {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        align-self: center;
        justify-self: center;
    }
}

@media screen and (max-width:990px) {
    .equiposgaleria {
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        flex-wrap: wrap;
        flex-direction: row;
    }
}
@media screen and (max-width: 900px) {
    .bateriasgaleria .seccion-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 420px) {
    .bateriasgaleria .seccion-1 {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 750px) {
    .bateriasgaleria .seccion-1 div {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width:750px) {
    .bateriasgaleria .seccion-1 div a img {
        width: 180px;
        height: 180px;
    }

}
@media screen and (max-width: 750px) {
.bateriasgaleria h1{
    font-size: 1em;
}
}
@media screen and (max-width: 750px) {
    .bateriasgaleria h1 p{
        font-size: 15px;
    }
    }